.wrapper {
  padding: 2rem 3rem;
  opacity: 90%;
}

.label {
  font-size: 1rem;
  font-weight: 500;
  color:white;
  position: relative;
  right: 60px;
}

.editor {
  margin-top: 1rem;
  height: 600px;
  color: black; /*default font color in editor*/
}

.exportButton {
    align-self: center; /* Center button horizontally within the wrapper */
    margin-top: 40px; /*Space between the editor and the button*/
}

.htmlOutput {
    align-self: center;
    position: relative;
    color: black;
}