.wrapper {
  padding: 2rem 3rem;
  opacity: 90%;
}

.label {
  font-size: 1rem;
  font-weight: 500;
  color:black;
}

.editor {
  margin-top: 1rem;
  height: 600px;
  color: black; /*default font color in editor*/
}

.exportButton {
    align-self: center; /* Center button horizontally within the wrapper */
    margin-top: 40px; /*Space between the editor and the button*/
}

/* Testing Quill Border Color Changes */
.customQuillBorder {
  border-color: black !important; /* Use !important to override existing styles */
}
.customToolbarBorder {
  border-color: black !important;
}