/*makes it so that when you zoom in/out, the background video always covers the screen */
/*video {
    display: flex;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    z-index: -1;
}*/

/*makes it so that when you zoom in/out, the background image always covers the screen*/
/*img {
    display: flex;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    z-index: -1;
}*/

.backgroundstuff {
    display: flex;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    z-index: -1;
}