.harmattan-regular {
    font-family: "Harmattan", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .harmattan-medium {
    font-family: "Harmattan", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .MuiLink-root.harmattan-semibold {
    font-family: "Harmattan", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .MuiLink-root.harmattan-bold {
    font-family: "Harmattan", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .FooterDiv img {
    height: 100%;
    width: auto;
  }