.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  opacity: 50%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*temp for button positioning*/
#fullscreentoggle {
  position:fixed;
  right: 1%;
  bottom: 2%;
}

/*Styling for slider*/

/* The slider thumb (handle) */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: black;
    cursor: pointer;
    border: 2px solid #000;
  }
  
  /* The slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: linear-gradient(to right, red 0%, red var(--percent, 0%), gray var(--percent, 0%), gray 100%);
  }
  
  /* Update the track background percentage based on the slider's value */
  input[type="range"]:focus::-webkit-slider-runnable-track {
    --percent: calc(var(--value) * 1%);
  }
  
  /* You need to dynamically update the `--value` custom property in your React component */
  